{:kotoba.app/id "cloud.itonami.isic-4610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig7thjzqttlvieibmoxainqcrlelfokr52lm4inexzbkgy53ls72m", :kotoba.app/embed-url "ipfs://bafkreig7thjzqttlvieibmoxainqcrlelfokr52lm4inexzbkgy53ls72m", :published {:archive "https://kotobase.net/ipfs/bafkreig7thjzqttlvieibmoxainqcrlelfokr52lm4inexzbkgy53ls72m", :size 73265, :put-status 201, :get-status 200, :at "2026-08-15T13:45:05.925Z"}}
